<!-- About -->
<section id="about" class="about d-none">
    <div class="container page-bgc">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box">
                    <p>Conociendo a </p>
                    <h2 class="title mt0">Smartbot</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="boxed">
                <div class="col-sm-12">
                    <p class="text-justify">
                        Día a día nos encontramos con labores y tareas que pueden ser repetitivas, peligrosas o
                        monótonas al momento en que son ejecutadas por un ser humano.
                        Smartbot, rama perteneciente a Smart Solutions Ingeniería Spa, nace de la motivación de entregar
                        soluciones inteligentes en un mundo actual que se mueve
                        velozmente junto a la tecnología. Es por esto que Smartbot, busca otorgar las mejores
                        alternativas para automatizar aquellas tareas que no necesitan pensarse
                        para ser ejecutadas. Creemos en la complementaridad de humanos y robots que nos permitan seguir
                        creciendo, evolucionando y aprendiendo aquello que la tecnología
                        ha disponibilizado.
                        <p>Algunas de nuestras características: </p>
                    </p>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div class="service">
            <div class="row boxed">
                    <div class="col-sm-4">
                        <div class="service-box">
                            <div class="service-title">
                                <div class="icon">
                                    <span class="ion-ios-monitor"></span>
                                </div>
                                <div class="mt-10">
                                    DIY-Friendly
                                </div>
                            </div>
                            <p>
                                Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service-box">
                            <div class="service-title">
                                <div class="icon">
                                    <span class="ion-person"></span>
                                </div>
                                <div class="mt-10">
                                    Amazing support
                                </div>
                            </div>
                            <p>
                                Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box">
                            <div class="service-title">
                                <div class="icon">
                                    <span class="ion-ios-cloud-upload"></span>
                                </div>
                                <div>
                                    In the cloud
                                </div>
                            </div>
                            <p>
                                Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box">
                            <div class="service-title">
                                <div class="icon">
                                    <span class="ion-android-options"></span>
                                </div>
                                <div class="mt-10">
                                    Flexible
                                </div>
                            </div>
                            <p>
                                Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box">
                            <div class="service-title">
                                <div class="icon">
                                    <span class="ion-ios-color-wand"></span>
                                </div>
                                <div class="mt-10">
                                    Economical
                                </div>
                            </div>
                            <p>
                                Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box">
                            <div class="service-title">
                                <div class="icon">
                                    <span class="ion-ios-cog"></span>
                                </div>
                                <div class="mt-10">
                                    Customizable
                                </div>  
                            </div>
                            <p>
                                Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Machine Man -->
        <div class="machine-man">
            <div class="row">
                <div class="boxed">
                    <div class="col-sm-8">
                        <h4 class="m-s-title">Innovación y vanguardia tecnológica</h4>
                        <h1 class="m-p-title">Smartbot, soluciones sencillas para problemas complejos</h1>
                        <p>
                            Con la posibilidad de ser aplicado en diferentes áreas dada la variedad de modelos, es que
                            Smartbot puede ser tu mejor alternativa a la hora de
                            solucionar complejidades que dificulten el desarrollo de tareas.
                            Día a día trabajamos para mejorar y brindar un servicio que se halle a la altura de las
                            exigencias de los usuarios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>