    <!-- Footer -->
    <section id="footer-widget" class="footer-widget container ">
            <div class="container header-bg">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Principales Robots</h3>
                        <ul>
                            <li><a href="#">Tiger 5.2 IR</a></li>
                            <li><a href="#">Max V3</a></li>
                            <li><a href="#">NEO V2</a></li>
                            <li><a href="#">EVA V2</a></li>
                            <li><a href="#">Lynce</a></li>
                            <li><a href="#">S5.2 Tiger</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>Nuestra redes</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/smartbot.la/" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/ssi_robotics" target="_blank">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/company/smart-solutions/" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>Contáctanos</h3>
                        <ul>
                            <li><a onclick="viewContact()" href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    <footer class="footer text-center bg-dark">
        <h3 class="text-white"> <span>Copyright &copy; Smartbot 2021</span></h3>
    </footer>