<!-- Modals Products -->
<section class="modulmodals">
    <div class="modal fade" id="modalTiger" tabindex="-1" role="dialog" aria-labelledby="modalTiger" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tiger 5.2 IR</h5>
                </div>
                <div class="modal-body">
                    <p class="text-justify">El sistema de video vigilancia de robots incluye una cámara PTZ con dos
                        sensores (radiación
                        térmica y visible). La imagen de IR permite observar a las personas y las máquinas a
                        distancias
                        de varios cientos de metros a un kilómetro, con iluminación totalmente ausente. Estos
                        modelos de
                        robot cuentan con una supercomputadora incorporada para procesar imágenes de video de ambos
                        sensores de la cámara PTZ y controlarla</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalMax" tabindex="-1" role="dialog" aria-labelledby="modalMax" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Max V3</h5>
                </div>
                <div class="modal-body">
                    <p class="text-justify">
                        Max V3 es el robot humanoide mas avanzado del mundo. Completamente único, capaz de asesorar
                        al
                        cliente sobre cualquier producto o servicio.
                        Solo imagine: A la entrada de cada visitante se
                        encontrará con el mas innovador robot, que te permitirá experimentar el futuro, ¡capaz de
                        gesticular, girar y hablar en forma autónoma e inteligente! Un humanoide puede indicar sobre
                        la
                        ubicación de un producto en sala y también actuar como anfitrión en una convención regional.
                        Sale al encuentro de los clientes o los invitados, los saludo, los orienta y conversa con
                        ellos
                        en forma casual.

                        MAX cuenta con reconocimiento de voz en español y en ingles ( si, MAX es bilingüe) ,
                        reconocimiento facial avanzado: que permite determinar el sexo y edad de cada cliente o
                        interlocutor y generar estadísticas por segmento etario de las consultas realizadas.
                        MAX puede realizar encuestas de opinión sobre tus gustos o requerimientos de tus clientes y
                        puedes tener los resultados en forma online discriminado por segmento etario.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEva" tabindex="-1" role="dialog" aria-labelledby="modalEva" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Neo/Eva V2</h5>
                </div>
                <div class="modal-body">
                    <p class="text-justify">
                        NEO y EVA son los robots de asistencia comercial y asistencia humana mas avanzados del
                        Mundo. Se
                        pueden llamar, con razón, únicos, porque poseen su propio carácter y personalidad.

                        Están diseñados para transmitir empatía a sus clientes y entablar una relación con ellos.

                        Permiten superar los límites de la publicidad y la asistencia habitual gracias a sus súper
                        poderes.

                        Estos súper poderes les permiten realizar tareas repetitivas en el punto de venta sin
                        cansancio
                        y sin bajar su productividad o eficiencia, siempre frescos, entregando un mensaje claro a
                        los
                        clientes.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLynce" tabindex="-1" role="dialog" aria-labelledby="modalEva" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lynce</h5>
                </div>
                <div class="modal-body">
                    <p class="text-justify">
                        Lynce es el robot autónomo de seguridad mas versátil del mundo para uso al interior de
                        supermercados, Malls, estadios, escuelas, centros comerciales y plazas de estacionamiento.

                        Está basado en un vehículo de dos ruedas auto equilibrado, lo que permite una rápido
                        desplazamiento en todo tipo de superficies.

                        No solo funciona en forma autónoma sino que su diseño único permite que sea montado por un
                        guardia de seguridad o fuerza publica y trasladarse en foram rápida y eficiente hasta el lugar
                        del evento.

                        Cuando se usa para montar, puede alcanzar distancias de 30 kilómetros con carga completa.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalSTiger" tabindex="-1" role="dialog" aria-labelledby="modalEva" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">S5.2 Tiger</h5>
                </div>
                <div class="modal-body">
                    <p class="text-justify">
                        La Serie Tiger S5.2 de robots de Seguridad autónomos incorporan la mas avanzada Ingeniería e
                        Inteligencia Artificial que les permite patrullar, reconocer personal propio, reconocer
                        intrusos, leer placas de vehículos y ID personales, notificando en tiempo real a la Central de
                        Monitoreo de cada incidencia que se produce.

                        Los Tiger S5.2 se desplazan en forma autónoma cubriendo el perímetro restringido en forma
                        rápida, eficiente e ininterrumpida.

                        Las imágenes obtenidas de sus 6 cámaras fijas y de su cámaras PTZ son transmitidas on-line en
                        forma cifrada y segura para su monitoreo local y remoto.

                        Tiger S5.2 Duo detecta y localiza intrusos, dando voz de alerta y procediendo a su persecución,
                        en forma totalmente autónoma.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>