<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v10.0&appId=2583705831639890&autoLogAppEvents=1" nonce="dlokvGQG"></script>
<section id="news" class="d-none">
    <div class="container page-bgc">
        <div class="row">
            <a class="twitter-timeline col-8" data-dnt="true" data-theme="dark" href="https://twitter.com/SSI_robotics?ref_src=twsrc%5Etfw">Tweets by SSI_robotics</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

            <div class="fb-page col-4" data-href="https://www.facebook.com/smartbot.la" data-tabs="timeline" data-width="500" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/smartbot.la" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/smartbot.la">Smartbot</a></blockquote></div>
        </div>
    </div>
</section>