<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/LogoSmartBot.png" type="image/x-icon">
    <title>SmartBot</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/ionicons.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <!-- Site Header -->
    {{> siteHeader}}
    <!-- Header -->
    <section id="header" class="main-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-dark bg-dark nav-pills flex-column flex-sm-row ">
                    <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" onclick="viewHome()"
                        href="#product">Home</a>
                    <a class="flex-sm-fill text-sm-center nav-link" onclick="viewAbout()" href="#about">Nosotros</a>
                    <a class="flex-sm-fill text-sm-center nav-link" onclick="viewContact()" href="#contact"
                        tabindex="-1" aria-disabled="true">Contacto</a>
                    <a id="login" class="flex-sm-fill text-sm-center nav-link" href="/login">Iniciar
                        Sesión</a>
                    <a id="admin" class="flex-sm-fill text-sm-center nav-link d-none" onclick="renderAdmin()"
                        href="#">Administración</a>
                </nav>
            </div>
            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6 col-sm-offset-6">
                    <h2 class="header-quote">SmartBot</h2>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->

    <!-- Contact -->
    {{> contact}}

    {{> about}}

    {{> footer}}

    {{> modals}}



    <!-- Scripts -->
    <script src="/assets/js/jQuery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/vendor/toastr/toastr.min.js"></script>
    <script src="/scripts/inicio.js"></script>
</body>

</html>